#navigator-toolbox {
  -moz-appearance: none;
  background-color: #0f111a00 !important;
  border-top: none;
}
.browser-toolbar:not(.titlebar-color),
#tabbrowser-tabs:not([movingtab])
  > .tabbrowser-arrowscrollbox
  > .tabbrowser-tab
  > .tab-stack
  > .tab-background[multiselected="true"]:-moz-lwtheme,
#tabbrowser-tabs:not([movingtab])
  > .tabbrowser-arrowscrollbox
  > .tabbrowser-tab
  > .tab-stack
  > .tab-background[selected="true"]:-moz-lwtheme,
box {
  background-color: #0f111a !important;
  background-image: none !important;
}
* {
  --tab-line-color: #ff5370;
  --tab-min-width: 76px;
}

#urlbar:not(.megabar):not([focused="true"]):-moz-lwtheme,
#urlbar.megabar:not([focused="true"]):-moz-lwtheme > #urlbar-background,
#navigator-toolbox #searchbar:not(:focus-within):-moz-lwtheme,
#navigator-toolbox {
  border: none !important;
}

#urlbar:not(.megabar):-moz-lwtheme,
#urlbar.megabar:-moz-lwtheme > #urlbar-background,
#navigator-toolbox #searchbar:-moz-lwtheme {
  background-color: #0f111a !important;
}
#navigator-toolbox {
  --tabs-border-color: #0f111a !important;
}

#navigator-toolbox {
  -moz-appearance: none;
}
.browser-toolbar:not(.titlebar-color),
#tabbrowser-tabs:not([movingtab])
  > .tabbrowser-arrowscrollbox
  > .tabbrowser-tab
  > .tab-stack
  > .tab-background[multiselected="true"]:-moz-lwtheme,
#tabbrowser-tabs:not([movingtab])
  > .tabbrowser-arrowscrollbox
  > .tabbrowser-tab
  > .tab-stack
  > .tab-background[selected="true"]:-moz-lwtheme,
* {
  --tab-line-color: #ff5370;
  --tab-min-width: 76px;
}
#urlbar,
#navigator-toolbox #searchbar,
#urlbar-background {
  border: none !important;
  background-color: #0f111ada !important;
}

#urlbar:not(.megabar):not([focused="true"]):-moz-lwtheme,
#urlbar.megabar:not([focused="true"]):-moz-lwtheme > #urlbar-background,
#navigator-toolbox #searchbar:not(:focus-within):-moz-lwtheme,
#navigator-toolbox {
  border: none !important;
}
#urlbar:not(.megabar):-moz-lwtheme,
#urlbar.megabar:-moz-lwtheme > #urlbar-background,
#navigator-toolbox #searchbar:-moz-lwtheme {
  background-color: var(--background) !important;
}
#navigator-toolbox {
  --tabs-border-color: var(--background) !important;
}

toolbox {
  z-index: 10;
  margin-top: 0px !important;
  margin-bottom: -30px !important;
  height: 0 !important;
  pointer-events: none;
}
vbox {
  pointer-events: all;
}

#nav-bar {
  opacity: 0;
  transform-origin: 0 0;
  pointer-events: none;
  transition: transform, ease-in-out 0.2s, opacity 0.2s ease-in-out !important;
}
/* All the states in which the URL bar is visible */
vbox:hover ~ #nav-bar,
toolbox:focus-within > #nav-bar,
#nav-bar:hover,
#mainPopupSet:hover ~ box #nav-bar,
#mainPopupSet:focus-within ~ box #nav-bar {
  opacity: 1;
  transform: none;
  pointer-events: all;
}
.tabbrowser-tab {
  border: none !important;
  margin-top: -1px !important;
}
.tabbrowser-tab::after,
.tabbrowser-tab::before {
  border-left: none !important;
}

#tabbrowser-tabs:not([movingtab])
  > #tabbrowser-arrowscrollbox
  > .tabbrowser-tab
  > .tab-stack
  > .tab-background[multiselected="true"]:-moz-lwtheme,
#tabbrowser-tabs:not([movingtab])
  > #tabbrowser-arrowscrollbox
  > .tabbrowser-tab
  > .tab-stack
  > .tab-background[selected="true"]:-moz-lwtheme {
  background-attachment: scroll, scroll, fixed;
  background-color: transparent;
  background-image: #0f111a !important;
  background-position: 0 0, 0 0, right top;
  background-repeat: repeat-x, repeat-x, no-repeat;
  background-size: auto 100%, auto 100%, auto auto;
}
#tabbrowser-tabs:not([movingtab])
  > #tabbrowser-arrowscrollbox
  > .tabbrowser-tab
  > .tab-stack
  > .tab-background[multiselected="true"]:-moz-lwtheme,
#tabbrowser-tabs:not([movingtab])
  > #tabbrowser-arrowscrollbox
  > .tabbrowser-tab
  > .tab-stack
  > .tab-background[selected="true"]:-moz-lwtheme {
  background-image: none !important;
}

html[inFullscreen="true"] #TabsToolbar {
  margin-bottom: -100px !important;
  opacity: 0 !important;
  height: 0 !important;
}

html[inFullscreen="true"] #TabsToolbar:focus-within {
  height: 30px !important;
  opacity: 1 !important;
  margin-bottom: 30px !important;
}
